<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- Load gazebo controller configurations -->
  <!-- Note: You MUST load these PID parameters for all joints that are using
       the PositionJointInterface, otherwise the arm + gripper will act like a
       giant parachute, counteracting gravity, and causing some of the wheels
       to lose contact with the ground, so the robot won't be able to properly
       navigate. See https://github.com/ros-simulation/gazebo_ros_pkgs/issues/612 -->
  <rosparam file="$(find mycobot_gripper_description)/config/mycobot_gripper_gazebo_control.yaml" command="load" />
  
  <rosparam file="$(find mycobot_gripper_description)/config/mycobot_gripper_control.yaml" command="load"/>
  
  
  
  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mycobot_gripper" args=" joint_state_controller finger_joint_position_controller --shutdown-timeout 3"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/mycobot_gripper/joint_states" />
  </node>
  
</launch>
