<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find mycobot_gripper_description)/launch/spawn_xacro.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="1.0" />
        <arg name="xacro_file_path" value="$(find mycobot_gripper_description)/urdf/mycobot_gripper.xacro" />
        <arg name="robot_name" value="mycobot_gripper" />
    </include>
</launch>
