<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot" >
	<!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find mycobot_description)/urdf/common.xacro" />
  <!-- Mycobot Arm -->
  <xacro:include filename="$(find mycobot_description)/urdf/arm/arm.urdf.xacro" />
  <!-- Mycobot gripper -->
  <xacro:include filename="$(find mycobot_description)/urdf/gripper/gripper.urdf.xacro" />
  <!-- D435 camera -->
  <xacro:include filename="$(find mycobot_description)/urdf/camera/_d435.urdf.xacro" />
  
  <!-- generic simulator_gazebo plugins -->
  <xacro:include filename="$(find mycobot_description)/gazebo/gazebo.urdf.xacro" />
  
  
  <!-- Now we can start using the macros included above to define the actual Mycobot -->
  <link name = "world"/>
  
  <!-- Mycobot arm -->
  <xacro:mycobot_arm parent="world">
    <origin xyz="0 0 0.95" rpy="0 0 0" />
  </xacro:mycobot_arm>
  
  <!-- Mycobot gripper -->
  <xacro:mycobot_gripper parent="arm5_flange">
    <origin xyz="0 0.01385 0.03432" rpy="0 0 0" />
  </xacro:mycobot_gripper>  
  
  <!-- D435 camera -->
  <xacro:sensor_d435 name="d435_camera" topics_ns="d435_camera" parent="world" publish_pointcloud="true">
    <origin xyz="0 0.5 1.5" rpy="0 ${pi/2} 0" />
  </xacro:sensor_d435>  
  
</robot>
