<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mycobot_description)/config/mycobot_control.yaml" command="load"/>

  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mycobot" args=" arm1_joint_position_controller arm2_joint_position_controller arm3_joint_position_controller arm4_joint_position_controller arm5_joint_position_controller arm5_flange_joint_position_controller joint_state_controller --shutdown-timeout 3"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/mycobot/joint_states" />
  </node>

</launch>
