<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- the transmission for robot arm -->
	<xacro:macro name="transmission_block" params="joint_name">
		<transmission name="arm_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="arm_motor">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>
	
	<xacro:transmission_block joint_name="arm1_joint"/>
	<xacro:transmission_block joint_name="arm2_joint"/>
	<xacro:transmission_block joint_name="arm3_joint"/>
	<xacro:transmission_block joint_name="arm4_joint"/>
	<xacro:transmission_block joint_name="arm5_joint"/>
	<xacro:transmission_block joint_name="arm5_flange_joint"/>
  
  
</robot>
